body {
  margin: 0;
  width: 100%;
  background-color: #F2F6F9;
}

html{
  width: 100%;
}

.main_parent{
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  padding-inline: 30px;
}

.home_divider{
  height: 100vh;
  width: 1.5px;
  background-color: rgba(153, 153, 153, 0.363);
}

.categories_parent{
  flex-grow: 1;
  border-radius: 10px;
  margin-top: 30px;
}

.job_area_parent{
  border-radius: 10px;
  flex-grow: 8;
  margin-top: 30px;
}

@media(width <= 880px){
  .content_parent{
    flex-direction: column;
  }
}

@media(width <= 1354px){
  .home_divider{
    display: none;
  }
}

@media(width <= 1290px){
  .job_area_parent{
    margin-top: 0px;
  }

  .main_parent{
    gap: 0px;
  }
  
}

@media(width <= 460px){
  .main_parent{
    padding-inline: 0px;
  }

  .job_area_parent{
    margin-top: 0px;
  }

}

@media(width >= 400px){
  .main_parent{
    display: flex;
  }
}